<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/script/itemsScript.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
   
    <div class="modal-backdrop modal-hidden">
      
      <div class="modal-main" id="modal-main">
        <div class="modal-header">
          <h3>Add Item</h3>
          <span id="modal-close">X</span>
        </div>
        <div class="modal-content">
          <form action="/items/<%=title%>/<%= categoryId %>" method="POST">
            <div id="errors-container"></div>
            <label for="itemName">Item Name</label>
            <input type="text" id="itemName" name="itemName" />
            <div class="numeric-container">
              <div>
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" />
              </div>
              <div>
                <label for="price">Price</label>
                <input type="number" id="price" name="price" />
              </div>
            </div>

            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
       
    </div>
   
    <%- include("nav",{id:categoryId}) %>
    <main>
      <div class="main-container" id="main-container">
        <div class="edit-container">
          <h2 id="category-title"><%= title %></h2>
          <% if(categoryId !== "null") {%> 
          <button class="edit-category button" id="edit-category" onclick="categoryEditModal('<%=title%>','<%=categoryId%>')">Edit</button>

          <form action="/category/<%= categoryId %>" method="POST" onsubmit="return confirmDelete()">
          <button type="submit" class="delete-category button" >Delete</button>
          </form>
          <%}%>
        </div>
        
        <table>
          <thead class="thead">
            <tr>
              <td>Items</td>
              <td>Quantity</td>
              <td>Price</td>
              <td></td>
            </tr>
          </thead>
          <tbody class="tbody">
            <% for(let i = 0; i<result.length;i++) {%> 
              <tr>
                <td><%= result[i].itemname %></td>
                <td><%= result[i].quantity %></td>
                <td>$<%= result[i].price %></td>
                <td class="option-items"><form action="/item/<%= result[i].id%>/<%= title %>/<%= categoryId %>" method="POST" onsubmit="return confirmDelete()">
                  <input type="button" class="edit-category button" value="Edit"onclick="editItem('<%=result[i].id%>','<%=result[i].itemname%>','<%=result[i].quantity%>','<%=result[i].price%>','<%=categoryId%>')">
                  <button types="submit" class="delete-category button">Delete</button>
                  
                </form> </td>
              </tr>
              <%}%>
            
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
